body {
  min-height: 100dvh;
  min-width: 100%;
  background: radial-gradient(
      ellipse at bottom,
      var(--accentLight),
      transparent
    ),
    radial-gradient(ellipse, var(--accentDark), transparent);
  background-attachment: fixed;
  color: var(--fontColor);
  -webkit-tap-highlight-color: transparent;
}
*::selection {
  background-color: var(--accentDark);
  color: var(--accentLight);
}
:root {
  --accentDark: #c49c75;
  --accentLight: #d5b998;
  --fontColor: hsl(0, 0%, 15%);
  --fontSizeHeaderDialog: calc(1.2rem + 1.5dvw);
}
@font-face {
  font-family: "playgrum";
  src: url(font/playgum.regular.otf);
}
@font-face {
  font-family: "waytoon";
  src: url(font/waytoon.regular.otf);
}

.container {
  min-width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container > header {
  text-align: center;
  padding: 3dvh;
  font-size: var(--fontSizeHeaderDialog);
  font-family: "playgrum";
  span {
    font-size: calc(1rem + 1.5dvw);
  }
  button {
    background: radial-gradient(
      var(--accentLight),
      var(--accentLight),
      var(--accentDark)
    );
    border: 1px solid var(--fontColor);
    border-radius: 4px;
    color: var(--fontColor);
    font-size: calc(1rem + 1dvw);
    margin-inline: 8px;
    margin-block: 8px;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
    aspect-ratio: 10 / 1;
    &:hover {
      outline: 2px solid var(--fontColor);
    }
  }
}
#display-message {
  font-size: calc(1.5rem + 1.5dvw);
  margin-top: 40px;
}
.container > footer {
  text-align: right;
  font-size: calc(1rem - 0.3dvh);
  a {
    text-decoration: none;
    color: var(--fontColor);
    padding-right: 1dvw;
  }
}
.container > .grid-container {
  aspect-ratio: 1 / 1;
  height: fit-content;
  width: auto;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-block: 3%;
  backdrop-filter: blur(50px);
  button {
    border: 2px solid var(--fontColor);
    border-radius: 4px;
    color: var(--fontColor);
    font-family: waytoon;
    font-size: calc(4rem + 2dvw);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    &:hover {
      outline: 2px solid var(--fontColor);
    }
    /* transform: translateY(50%);
    opacity: 0; */
  }
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background: linear-gradient(
    45deg,
    var(--accentDark),
    var(--accentLight),
    var(--accentDark)
  );
  font-family: "playgrum";
  font-size: var(--fontSizeHeaderDialog);
  width: min(100%, 600px);
  border: 3px solid var(--fontColor);
  border-radius: 16px;
}
dialog label {
  font-family: "waytoon";
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background: radial-gradient(
      var(--accentLight),
      var(--accentLight),
      var(--accentDark)
    );
    border: 1px solid var(--fontColor);
    border-radius: 8px;
    color: var(--fontColor);
    font-size: var(--fontSizeHeaderDialog);
    margin-inline: 8px;
    margin-block: 24px;
    padding: 12px;
    cursor: pointer;
    width: fit-content;
    aspect-ratio: 10 / 1;
    &:hover {
      outline: 2px solid var(--fontColor);
    }
  }
  label {
    font-family: "waytoon";
    font-weight: bold;
  }
  input {
    width: 80%;
  }
  input:focus {
    outline: 3px solid var(--accentDark);
  }
}
::backdrop {
  background: linear-gradient(
    var(--accentLight),
    var(--accentLight),
    var(--accentDark)
  );
  /* opacity: 0.99; */
}
