body {
  min-height: 100dvh;
  min-width: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, var(--accentDark), transparent),
    radial-gradient(ellipse, var(--accentLight), transparent);
  color: var(--fontColor);
}

:root {
  --accentDark: hsl(130, 73%, 25%);
  --accentLight: hsl(120, 73%, 75%);
  --fontColor: hsl(0, 0%, 15%);
}
@font-face {
    font-family: 'playgrum';
    src: url(font/playgum.regular.otf);
}
@font-face {
    font-family: 'waytoon';
    src: url(font/waytoon.regular.otf);
}

.container {    
  min-width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container > header {
  text-align: center;
  padding: 3dvh;
  font-size: calc(1.5rem + 1.5dvw);
  /* font-weight: bold; */
  font-family: playgrum;
}
.container > footer {
  text-align: right;
  font-size: calc(1rem - 0.3dvh);
  a {
    text-decoration: none;
    color: var(--fontColor);
    padding-right: 1dvw;
  }
}
.container > .grid-container {
  aspect-ratio: 1 / 1;
  height: min(70dvh, 85dvw);
  width: auto;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  backdrop-filter: blur(50px);
  button {
    border: 1px solid var(--fontColor);
    border-radius: 4px;
    color: var(--fontColor);
    font-family: waytoon;
    font-size: calc(2rem + 2dvw);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    &:hover {
      border: 2px solid var(--fontColor);
    }
    /* transform: translateY(50%);
    opacity: 0; */
  };
}
